@{
    ViewBag.Title = "Index";
}

@section scripts
    {
    @Scripts.Render("~/bundles/inicio")
    <script type="text/javascript">
        $(function () {
            Iniciar();
        })
    </script>
}
<div>
    <div id="datos">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nombre</label>
                    <div id="nombre"></div>
                </div>
            </div>
            <div class="col-md-6">
                <label>Temporada</label>
                <div id="temporada"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Compañero</label>
                    <div id="companero"></div>
                </div>
            </div>
            <div class="col-md-6">
                <label>Url</label>
                <div id="url"></div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-6">
                    <label>Validar Backend</label>
                    <div id="validacion"></div>
                </div>
            </div>
            <div id="guardar"></div>
            <div id="nuevo"></div>
        </div>
    </div>
    <div id="dxDataGrid">
    </div>
</div>